p {
    font-size:78px;
    align-items: flex-end;
    font-family: sans-serif;
}
.home-image {
    width: 100px;
    object-fit: cover;
  }
h1 {
    padding-right: 10px;
    padding-top: 100px;
    font-family: monospace;
}
.resorts-container5 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }


